*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    background-color: #399e5a;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.phone{
    height: 550px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    border: 5px solid black;
    position: relative;
}
.story-block{
    height: 80px;
    width: 100%;
    background-color: cadetblue;
    border-radius: 5px 5px 0px 0px;
}
.card{
    height: 200px;
    width: 100%;
    overflow: hidden;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.postcard{
    height: 224px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius:0 0 5px 5px;
}
.postcard img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}