*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    background-color: #399e5a;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.phone{
    height: 600px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    border: 5px solid black;
    position: relative;
}
.story-block{
    height: 80px;
    width: 100%;
    background-color: cadetblue;
    border-radius: 5px 5px 0px 0px;
}
.card{
    height: 200px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.postcard{
    height: 274px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius:0 0 5px 5px;
}
.postcard img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.friend>p{
    padding-left: 5px;
}
.like-post>p{
    padding-left: 5px;
}
.text{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.text>button{
    background-color: rgb(89, 89, 255);
    color: white;
    font-weight: 700;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
}
.text>button:active{
    scale: 0.95;
}